<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Outstanding Fees</title>
  <style>
    .back-button, .startpayment-button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #19ec58; 
      color: white;
      margin-right: 10px;
    }
    
    .back-button:hover {
      background-color: #19ec58; 
    }

    .startpayment-button:hover {
      background-color: #19ec58; 
    }
  </style>
</head>
<body>
  <button class="startpayment-button"  onclick="window.location.href='/payment'">Payment</button>
  <button class="back-button" onclick="window.location.href='/'">Back</button>
</body>
</html>
